// VARIABLES

// $mono: 'Anonymous Pro', monospace;
// $mono2: 'Cutive Mono', monospace;
$mono: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
$roboto: 'Roboto', sans-serif;

$color-white: #ffffff;
$color-tan: #f4f7f7;
$color-tan-transparent: rgba(244, 247, 247, 0.8);
$color-light: #aacfd0;
$color-light-transparent: rgba(170, 207, 208, 0.8);
$color-medium: #79a8a9;
$color-medium-transparent: rgba(121, 168, 169, 0.8);
$color-dark: #1f4e5f;
$color-dark-transparent: rgba(31, 78, 95, 0.8);

$color-code: #282c34;
$color-code-green: #94c370;
$color-code-orange: #d19a61;
$color-code-red: #c3686e;
$color-code-blue: #3992ef;
$color-code-yellow: #e5b659;
$color-code-purple: #c178d7;
